{%extends 'base.html'%}
{%block head%}
<title>Student Profile</title>
{%endblock%}
{%block tutornav%}
{%endblock%}

{%block body%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Student Profile</h1>
    <p class="lead">Set up your profile</p>
  </div>
</div>
<div class="container">
  <div class="card card-body bg-light">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="row">
        <div class="col-md-6">
          <p>
            <h6>Name of your school/institution:</h6>
            {{form.school}}</p>
          <p>
            <h6>Class:</h6>
            {{form.grade}}</p>
          <p>
            <h6>Your Favourite subjects:</h6>
            {{form.fav_subjects}}</p>
        </div>
        <div class="col-md-6">
          <p>
            <h6>Write a few lines about yourself:</h6>
            {{form.description}}</p>
          <p>
            <h6>Your Profile Image</h6>
            {{form.student_image}}</p>
            <button class="btn btn-primary float-right" type="submit" name="button">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

{%endblock%}
